// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace ChileClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ChileClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChileClient.Options>;

    constructor(options: ChileClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Searches Chilean public records for people by name.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, requests are refused with `429 LIMIT_REACHED` until it resets at 00:00 UTC.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/chilean-name
     *
     * @param {OsintCat.PersonChileRequest} request
     * @param {ChileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.chile.person({
     *         query: "Juan Perez"
     *     })
     */
    public person(
        request: OsintCat.PersonChileRequest,
        requestOptions?: ChileClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.ChileanNameResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__person(request, requestOptions));
    }

    private async __person(
        request: OsintCat.PersonChileRequest,
        requestOptions?: ChileClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.ChileanNameResponse | undefined>> {
        const { query } = request;
        const _queryParams: Record<string, unknown> = {
            query,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/chilean-name",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as OsintCat.ChileanNameResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/chilean-name");
    }

    /**
     * Searches Chilean vehicle records by licence plate.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, requests are refused with `429 LIMIT_REACHED` until it resets at 00:00 UTC.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/chilean-car
     *
     * @param {OsintCat.VehicleChileRequest} request
     * @param {ChileClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.chile.vehicle({
     *         query: "ABCD12"
     *     })
     */
    public vehicle(
        request: OsintCat.VehicleChileRequest,
        requestOptions?: ChileClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.ChileanCarResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__vehicle(request, requestOptions));
    }

    private async __vehicle(
        request: OsintCat.VehicleChileRequest,
        requestOptions?: ChileClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.ChileanCarResponse | undefined>> {
        const { query } = request;
        const _queryParams: Record<string, unknown> = {
            query,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/chilean-car",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as OsintCat.ChileanCarResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/chilean-car");
    }
}
