// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace InstagramClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InstagramClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InstagramClient.Options>;

    constructor(options: InstagramClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Resolves an Instagram post or reel share link to the account that shared it and the author of the post. Profile links cannot be resolved.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Errors:
     * - 400 `Provide a valid Instagram URL via ?link=...`: No link, not an Instagram link, or the link expired or points to a private post. Not charged.
     * - 422 `profile_link`: A profile link: only post and reel share links can be resolved. Not charged.
     * - 424 `(message)`: The link could not be resolved right now. Not charged.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/instagram-resolver
     *
     * @param {OsintCat.ResolveShareLinkInstagramRequest} request
     * @param {InstagramClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.BadRequestError}
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.UnprocessableEntityError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.instagram.resolveShareLink({
     *         link: "https://www.instagram.com/reel/Cexample/?igsh=MWexample"
     *     })
     */
    public resolveShareLink(
        request: OsintCat.ResolveShareLinkInstagramRequest,
        requestOptions?: InstagramClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.InstagramResolverResponse> {
        return core.HttpResponsePromise.fromPromise(this.__resolveShareLink(request, requestOptions));
    }

    private async __resolveShareLink(
        request: OsintCat.ResolveShareLinkInstagramRequest,
        requestOptions?: InstagramClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.InstagramResolverResponse>> {
        const { link } = request;
        const _queryParams: Record<string, unknown> = {
            link,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/instagram-resolver",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.InstagramResolverResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OsintCat.BadRequestError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 422:
                    throw new OsintCat.UnprocessableEntityError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/instagram-resolver");
    }
}
