// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace VinClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VinClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VinClient.Options>;

    constructor(options: VinClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Decodes vehicle identification numbers and answers catalogue questions (makes, models, manufacturers, vehicle variables). Choose what to do with `type`.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Errors:
     * - 400 `query parameter is required`: `query` missing where the chosen type needs it.
     * - 400 `Maximum 50 VINs allowed`: `batch` with more than 50 VINs.
     * - 400 `Invalid query type / Invalid search_type`: Unknown `type` or `search_type`.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/vin
     *
     * @param {OsintCat.QueryVinRequest} request
     * @param {VinClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.BadRequestError}
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.vin.query({
     *         query: "1HGCM82633A004352"
     *     })
     */
    public query(
        request: OsintCat.QueryVinRequest = {},
        requestOptions?: VinClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.VinResponse> {
        return core.HttpResponsePromise.fromPromise(this.__query(request, requestOptions));
    }

    private async __query(
        request: OsintCat.QueryVinRequest = {},
        requestOptions?: VinClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.VinResponse>> {
        const {
            type: operation,
            query,
            model_year: modelYear,
            extended,
            search_type: searchType,
            year,
            vehicle_type: vehicleType,
            mfr_type: mfrType,
            page,
            parts_type: partsType,
            from_date: fromDate,
            to_date: toDate,
            make,
            model,
            units,
        } = request;
        const _queryParams: Record<string, unknown> = {
            type: operation != null ? operation : undefined,
            query,
            model_year: modelYear,
            extended,
            search_type: searchType,
            year,
            vehicle_type: vehicleType,
            mfr_type: mfrType,
            page,
            parts_type: partsType,
            from_date: fromDate,
            to_date: toDate,
            make,
            model,
            units: units != null ? units : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/vin",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.VinResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OsintCat.BadRequestError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/vin");
    }
}
