// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace BreachClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BreachClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BreachClient.Options>;

    constructor(options: BreachClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Searches the breach indexes (including Snusbase, LeakCheck and IntelX) for a value and returns every matching record. The search is case-insensitive.
     *
     * Results for the same query may come from a cache for up to two days.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/breach
     *
     * @param {OsintCat.SearchBreachRequest} request
     * @param {BreachClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.breach.search({
     *         query: "user@example.com"
     *     })
     */
    public search(
        request: OsintCat.SearchBreachRequest,
        requestOptions?: BreachClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.BreachResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: OsintCat.SearchBreachRequest,
        requestOptions?: BreachClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.BreachResponse>> {
        const { query } = request;
        const _queryParams: Record<string, unknown> = {
            query,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/breach",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.BreachResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/breach");
    }

    /**
     * Searches stealer-log and combo-list collections for an e-mail address or a domain.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Errors:
     * - 424 `Upstream error`: The search backend answered with an error. Not charged.
     * - 424 `timeout error`: The search backend did not answer in time. Not charged.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/database-search
     *
     * @param {OsintCat.DatabaseSearchBreachRequest} request
     * @param {BreachClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.breach.databaseSearch({
     *         query: "user@example.com"
     *     })
     */
    public databaseSearch(
        request: OsintCat.DatabaseSearchBreachRequest,
        requestOptions?: BreachClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.DatabaseSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__databaseSearch(request, requestOptions));
    }

    private async __databaseSearch(
        request: OsintCat.DatabaseSearchBreachRequest,
        requestOptions?: BreachClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.DatabaseSearchResponse>> {
        const { query, type: queryType } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            type: queryType != null ? queryType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/database-search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.DatabaseSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/database-search");
    }

    /**
     * Returns breach records whose e-mail addresses or URLs belong to a domain.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, requests are refused with `429 LIMIT_REACHED` until it resets at 00:00 UTC.
     *
     * Errors:
     * - 404 `No results found`: Nothing was found for the domain.
     * - 424 `Upstream error`: The search could not be completed; the response carries an `error_id`.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/domain
     *
     * @param {OsintCat.DomainBreachRequest} request
     * @param {BreachClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.NotFoundError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.breach.domain({
     *         query: "example.com"
     *     })
     */
    public domain(
        request: OsintCat.DomainBreachRequest,
        requestOptions?: BreachClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.DomainResponse> {
        return core.HttpResponsePromise.fromPromise(this.__domain(request, requestOptions));
    }

    private async __domain(
        request: OsintCat.DomainBreachRequest,
        requestOptions?: BreachClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.DomainResponse>> {
        const { query } = request;
        const _queryParams: Record<string, unknown> = {
            query,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/domain",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.DomainResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 404:
                    throw new OsintCat.NotFoundError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/domain");
    }
}
