// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace EmailClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EmailClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EmailClient.Options>;

    constructor(options: EmailClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Checks which websites and services an e-mail address is registered with and in which breaches it appears. Every request must state its purpose.
     *
     * A request without a purpose (parameter `purpose`, header `X-Purpose`, or `Purpose: ...` at the end of your User-Agent) is refused with `400 USER_AGENT_IDENTITY_REQUIRED`.
     *
     * Does not use your daily allowance. Each lookup that finds something is charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing, or fails, is not charged.
     *
     * Errors:
     * - 400 `USER_AGENT_IDENTITY_REQUIRED`: No purpose given.
     * - 401 `API key required`: No `X-API-KEY` header.
     * - 402 `INSUFFICIENT_BALANCE`: Your balance does not cover the lookup.
     * - 502 `Provider Error`: The lookup could not be completed. Not charged.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/email-osint
     *
     * @param {OsintCat.LookupEmailRequest} request
     * @param {EmailClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.BadRequestError}
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.PaymentRequiredError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.TooManyRequestsError}
     * @throws {@link OsintCat.BadGatewayError}
     *
     * @example
     *     await client.email.lookup({
     *         query: "user@example.com",
     *         purpose: "fraud prevention"
     *     })
     */
    public lookup(
        request: OsintCat.LookupEmailRequest,
        requestOptions?: EmailClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.EmailOsintResponse> {
        return core.HttpResponsePromise.fromPromise(this.__lookup(request, requestOptions));
    }

    private async __lookup(
        request: OsintCat.LookupEmailRequest,
        requestOptions?: EmailClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.EmailOsintResponse>> {
        const { query, purpose } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            purpose,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/email-osint",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.EmailOsintResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OsintCat.BadRequestError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 402:
                    throw new OsintCat.PaymentRequiredError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 502:
                    throw new OsintCat.BadGatewayError(_response.error.body as OsintCat.Error, _response.rawResponse);
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/email-osint");
    }
}
