// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace MinecraftClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MinecraftClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MinecraftClient.Options>;

    constructor(options: MinecraftClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Combines the Minecraft profile of a player (UUID, name history, capes, skins) with records about them found in Minecraft server leaks.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/minecraft
     *
     * @param {OsintCat.PlayerMinecraftRequest} request
     * @param {MinecraftClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.minecraft.player({
     *         query: "Notch"
     *     })
     */
    public player(
        request: OsintCat.PlayerMinecraftRequest,
        requestOptions?: MinecraftClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.MinecraftResponse> {
        return core.HttpResponsePromise.fromPromise(this.__player(request, requestOptions));
    }

    private async __player(
        request: OsintCat.PlayerMinecraftRequest,
        requestOptions?: MinecraftClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.MinecraftResponse>> {
        const { query, type: queryType } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            type: queryType != null ? queryType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/minecraft",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.MinecraftResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/minecraft");
    }

    /**
     * Searches Minecraft server leaks for one value. Use [Minecraft Player](https://docs.osintcat.net/api-reference/endpoint/minecraft) for a profile plus leaks in one call.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Errors:
     * - 400 `invalid query type`: `type` is missing or not one of the allowed values; `allowed_types` lists them.
     * - 502 `Upstream returned an empty response`: The search could not be completed; the response carries an `error_id`.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/minecraft-osint
     *
     * @param {OsintCat.LeaksMinecraftRequest} request
     * @param {MinecraftClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.BadRequestError}
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.TooManyRequestsError}
     * @throws {@link OsintCat.BadGatewayError}
     *
     * @example
     *     await client.minecraft.leaks({
     *         query: "Notch",
     *         type: "username"
     *     })
     */
    public leaks(
        request: OsintCat.LeaksMinecraftRequest,
        requestOptions?: MinecraftClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.MinecraftOsintResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__leaks(request, requestOptions));
    }

    private async __leaks(
        request: OsintCat.LeaksMinecraftRequest,
        requestOptions?: MinecraftClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.MinecraftOsintResponse | undefined>> {
        const { query, type: queryType } = request;
        const _queryParams: Record<string, unknown> = {
            query,
            type: queryType,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/minecraft-lookup",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as OsintCat.MinecraftOsintResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OsintCat.BadRequestError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 502:
                    throw new OsintCat.BadGatewayError(_response.error.body as OsintCat.Error, _response.rawResponse);
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/minecraft-lookup");
    }

    /**
     * Look up a Minecraft account by its username and get the public profile.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Errors:
     * - 400 `Missing username parameter`: No `username` given.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/minecraft-profile
     *
     * @param {OsintCat.ProfileMinecraftRequest} request
     * @param {MinecraftClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.BadRequestError}
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.minecraft.profile({
     *         username: "Notch"
     *     })
     */
    public profile(
        request: OsintCat.ProfileMinecraftRequest,
        requestOptions?: MinecraftClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.MinecraftProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__profile(request, requestOptions));
    }

    private async __profile(
        request: OsintCat.ProfileMinecraftRequest,
        requestOptions?: MinecraftClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.MinecraftProfileResponse>> {
        const { username } = request;
        const _queryParams: Record<string, unknown> = {
            username,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/minecraft-lookup-v2",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.MinecraftProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OsintCat.BadRequestError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/minecraft-lookup-v2");
    }
}
