// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as OsintCat from "../../../index.js";

export declare namespace PhoneClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PhoneClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PhoneClient.Options>;

    constructor(options: PhoneClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns what is known about a phone number: whether it is valid, the carrier and line type, the country, linked online accounts and a risk score.
     *
     * Counts as one lookup against your plan's daily allowance (Max: unlimited). When the allowance is used up, the lookup can continue at a per-lookup price charged to your balance (the module's page in the dashboard shows the price); a lookup that finds nothing is not charged.
     *
     * Errors:
     * - 400 `phone_*`: The number cannot be a valid phone number; `code` says why (e.g. `phone_too_short`).
     * - 424 `Upstream provider error`: The lookup could not be completed.
     * - 424 `The request timed out.`: The lookup took too long.
     *
     * Docs: https://docs.osintcat.net/api-reference/endpoint/phone-osint
     *
     * @param {OsintCat.LookupPhoneRequest} request
     * @param {PhoneClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OsintCat.BadRequestError}
     * @throws {@link OsintCat.UnauthorizedError}
     * @throws {@link OsintCat.ForbiddenError}
     * @throws {@link OsintCat.FailedDependencyError}
     * @throws {@link OsintCat.TooManyRequestsError}
     *
     * @example
     *     await client.phone.lookup({
     *         query: "+4915112345678"
     *     })
     */
    public lookup(
        request: OsintCat.LookupPhoneRequest,
        requestOptions?: PhoneClient.RequestOptions,
    ): core.HttpResponsePromise<OsintCat.PhoneOsintResponse> {
        return core.HttpResponsePromise.fromPromise(this.__lookup(request, requestOptions));
    }

    private async __lookup(
        request: OsintCat.LookupPhoneRequest,
        requestOptions?: PhoneClient.RequestOptions,
    ): Promise<core.WithRawResponse<OsintCat.PhoneOsintResponse>> {
        const { query } = request;
        const _queryParams: Record<string, unknown> = {
            query,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OsintCatEnvironment.Production,
                "api/phone-osint",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as OsintCat.PhoneOsintResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OsintCat.BadRequestError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 401:
                    throw new OsintCat.UnauthorizedError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 403:
                    throw new OsintCat.ForbiddenError(_response.error.body as OsintCat.Error, _response.rawResponse);
                case 424:
                    throw new OsintCat.FailedDependencyError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                case 429:
                    throw new OsintCat.TooManyRequestsError(
                        _response.error.body as OsintCat.Error,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.OsintCatError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/phone-osint");
    }
}
